div(style='margin-top: 25px;').wideContainer
  md-content
    md-card(layout-padding)
      md-card-content
        div(layout='row')
          h1(style='text-align: center;' flex) Admin Database Control
          md-button.md-button.md-primary(ui-sref='repairForm' style='margin: auto;') New Post
        hr
        div(layout-margin layout='row' flex ng-repeat='repair in repair')
          div(flex='20' style='border-bottom: 1px solid black')
            p Customer Name:  {{ repair.name }}
          div(flex='20' style='border-bottom: 1px solid black')
            p Service Provided : {{ repair.service }}
          div(flex='20' style='border-bottom: 1px solid black')
            p Service Number : {{ repair.number }}  
          div(flex='20' style='border-bottom: 1px solid black')
            p Service date:  {{ repair.date | amDateFormat: 'dddd, MMMM Do YYYY' }}
          div(flex='20' layout='row' style='margin: auto;')
            md-button.md-raised(ng-click='deletePost(repair._id)') Delete
            md-button.md-raised(ui-sref='blogEdit({id: repair._id})') Edit
            md-button.md-raised(ui-sref='blogView({id: repair._id})') View
