html
  head
    title Hello World
  body
    h1 Hello World
    form(method='post')
      table
        tr
          div
            span.label Name :
            input(type="text", name="name" placeholder="Full Name", id="editName")
        tr
          div
            span.label Valencia ID:
            input(type="text", name="vID" placeholder="Valencia ID number", id="editVId")
        tr
          div
            span.label Service:
            input(type="text", name="service" placeholder="Service Provided", id="editService")
        tr
          div
            span.label Date:
            input(type="text", name="date" placeholder="Date of service", id="editDate")
        tr
          div
            span.label Details :
            textarea(type="textarea" rows='5' cols='20' name="details" placeholder="Details of work", id="editDetails")
        tr
          div
            span.label Issued By:
            input(type="text", name="issedBy" placeholder="Who did the work?", id="editIssuedBy")
        br
        button(type='submit' value='submit') submit
